# Ignore build/output directories
dist/
build/

# Ignore cache and logs
.npm/
node_modules/
*.log

# Ignore Tailwind CSS JIT output
tailwind.config.js.LOCK

# Ignore system files (MacOS, Windows)
.DS_Store
Thumbs.db

# Ignore environment files if any
.env